.searchbackground{
    width: 100vw;
    height: 9em;
    background: #1D2B3A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textsearch{
    color: white;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 2.5%;
    text-align: center;
    padding-left: 0.475em;
}


.filtercontainer{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
}


ul li {
    float: left;
}
  
ul li a {
    display: block;
    color: #1D2B3A;
    text-align: center;
    padding: 14px 3.5em 16px 2em;
    text-decoration: none;
}
  
ul li a:hover {
    background-color: #b192f86f;
}

.btnform {
    padding: 14px 3em 16px 2em;
}

.btnformul{
    float: left;
    height: 3.1875em;
}

.btnformimg{
    float: right;
    padding-left: 10em;
}


.btnimg{
    padding-left: 11em;
}

.applyfilters{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 101px;
}

.btnfilter{
    margin-left: 2em;
    float: left;
    display: block;
    background-color: rgb(29, 43, 58);
    text-align: center;
    text-decoration: none;
    width: 354px;
    height: 56px;
    opacity: 1;
    border-radius: 28px;
}

.btnfilter p{
    color: white;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.checkboxlabel{
    color: #1D2B3A;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 0.875rem;
    display: flex;
    flex-wrap: nowrap;
}

.checkboxcontainer {
    padding-inline: 2.3125em;   
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0.2em 2em; 
    max-width: 800px; 
    margin: 0 auto; 
}

.checkboxlabel {
    display: flex; 
    align-items: center; 
    gap: 0.2em;  
    cursor: pointer;
}

.checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox {
    display: inline-block;
    width: 1em !important;
    height: 1em !important;
    border: 0.0975em solid #1D2B3A;     
    border-radius: 0.25em;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease; 
    box-shadow: 0 0 0 0 rgba(198, 29, 53, 0); 
}

.checkbox:checked + .custom-checkbox {
    background-color: #C61D35; 
    border-color: #C61D35;
}

.checkbox:checked{
    background-color: #C61D35;
}

.checkbox {
    margin: 0;

}

@media (max-width: 600px) {

    .checkboxlabel {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }
}