<main class="vehclesfilter">
    <div class="searchbackground">
        <img src="imgfilter.png" alt="icone de busca" />
        <p class="textsearch">Busca</p>
    </div>
    
    <nav>
        <ul class="filtercontainer">
            <li><a href="default.asp">Cancelar</a></li>
            <li><a href="news.asp">Filtros</a></li>
            <li><a (click)="clearFilters(); $event.preventDefault()" style="cursor: pointer;">Limpar</a></li>
        </ul>
    </nav>

    
    <div class="vehiclescontainer">
        <form class="filterform">

            <div class="btnform">
                <ul class="btnformul">
                    <li>
                        <p class="title">Tipos de carrocerias</p>
                    </li>

                    <li>        
                        <img class="btnformimg" src="btnform.png" alt="icone de botao"/>
                    </li>
                </ul>
            </div>

            
            <div class="checkboxcontainer">
                <label class="checkboxlabel" *ngFor="let type of typeOptions">
                    <input class="checkbox" type="checkbox" (change)="onTypeToggle(type, $event.target)" />
                    <span class="custom-checkbox"></span>
                    {{ type }}
                </label>
            </div>

            <div class="btnform">
                <ul class="btnformul">
                    <li>
                        <p class="title">Tipos de motores</p>
                    </li>

                    
                    <li>        
                        <img class="btnformimgtype" src="btnform.png" alt="icone de botao"/>
                    </li>
                </ul>
            </div>

            
            <div class="engine-buttons-wrapper">
                <label class="engine-button-label" *ngFor="let engine of engineOptions">
                    <input class="engine-checkbox" type="checkbox" (change)="onEngineToggle(engine, $event.target)" />
                    <span class="engine-button-text">Motor {{ engine }}</span>
                </label>
            </div>
        

            
            <div class="btnform">
                <ul class="btnformul">
                    <li>
                        <p class="title">Quantdade de Lugares</p>
                    </li>

                    <li>        
                        <img class="btnformimgsize" src="btnform.png" alt="icone de botao"/>
                    </li>
                </ul>
            </div>

            <div class="places-options-container">
                <div class="places-buttons-wrapper">
                    <label class="places-button-label" *ngFor="let size of sizeOptions">
                        <input class="places-checkbox" type="checkbox" (change)="onSizeToggle(size, $event.target)" />
                        
                        <span class="places-button-text">
                            {{ size }}
                        </span>
                    </label>
                </div>
            </div>
        </form>
        
        <div class="apllyfilters">
            <button class="btnfilter" type="button" (click)="applyFilters()">
                <p>applicar filtro</p>
            </button>
        </div>

    </div>
</main>