<main class="vehclesfilter">

    <div class="searchbackground">
        <img src="imgfilter.png" alt="icone de busca" />
        <p class="textsearch">Busca</p>
    </div>
    
    <nav>
        <ul class="filtercontainer">
            <li><a href="default.asp">Cancelar</a></li>
            <li><a href="news.asp">Filtros</a></li>
            <li><a (click)="clearFilters(); $event.preventDefault()" style="cursor: pointer;">Limpar</a></li>
        </ul>
    </nav>

    <form>

        <div class="btnform">
            <ul class="btnformul">
                <li>
                    <p>Tipos de carrocerias</p>
                </li>

                <li>        
                    <img class="btnformimg" src="btnform.png" alt="icone de botao"/>
                </li>
            </ul>
        </div>

        
        <div class="checkboxcontainer">
            <label class="checkboxlabel" *ngFor="let type of typeOptions">
                <input class="checkbox" type="checkbox" (change)="onTypeToggle(type, $event.target)" />
                <span class="custom-checkbox"></span>
                {{ type }}
            </label>
        </div>

        <div class="btnform">
            <ul class="btnformul">
                <li>
                    <p>Tipos de motores</p>
                </li>

                
                <li>        
                    <img class="btnformimg" src="btnform.png" alt="icone de botao"/>
                </li>
            </ul>
            <div>
                <label *ngFor="let engine of engineOptions" style="display:inline-block;margin:0 1rem 0.75rem 0;">
                    <input type="checkbox" (change)="onEngineToggle(engine, $event.target)" />
                    {{ engine }}
                </label>
            </div>
        </div>
    
        <div class="btnform">
            <ul class="btnformul">
                <li>
                    <p>Quantidade de Lugares</p>
                </li>

                
                <li>        
                    <img class="btnformimg" src="btnform.png" alt="icone de botao"/>
                </li>
            </ul>
            <div>
                <label *ngFor="let size of sizeOptions" style="display:inline-block;margin:0 1rem 0.75rem 0;">
                    <input type="checkbox" (change)="onSizeToggle(size, $event.target)" />
                    {{ size }} lugares
                </label>
            </div>
        </div>
    </form>
    
    <div class="apllyfilters">
        <button class="btnfilter" type="button" (click)="applyFilters()">
            <p>applicar filtro</p>
        </button>
    </div>
</main>