.vehcleshome{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundimgcarcontainersection{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #1D2B3A;
    z-index: -1;
}

.imagecarspace{
    z-index: 1;
    position: absolute;
}

.imagebackgroundcar{
    width: 51.0625em;
    height: 16.875em;
    padding-right: 23.875em;
    z-index: 1;
}

.backgroundimgcarcontainer{
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 16.875em;
}

.profilepicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.helloname{
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 2.5%;
}

.filters{
    z-index: 2;
    top: 15.625em;
    margin-inline: 2.3125em;
    width: auto;
    height: 3.5em;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.searchbar{
    width: 14.125em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.875em;
    background-color: #ffff;
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputsearch{
    border-radius: 0%;
    border-style: none;
    width: 14.125em;
    height: 3.4em;
    padding-left: 1em;
}

.imageseachbar{
    padding-left: 1em;
}

.btnfilter{
    margin-left: 0.875em;
    width: 7em;
    height: 3.3em;
    border-style: none;
    border-radius: 0.5em;
    background-color: #ffff;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnfilterimg{
    width: 7.125em;
    height: 3.4375em;
    border-radius: 0.5em;
}

.search{
    padding-top: 4.1875em;
    width: auto;
    height: auto;
}

.lastreservationstext{
    color: #1D2B3A;
    font-weight: 700;
    font-size: 1rem;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 2.3125em;
    padding-top: 1.9375em;
    padding-bottom: 0.625em;    
}

.recent-reservations .reservation-item{
    width: 15.0625em;
    height: 18.9375em;
    margin-left: 2.3125em;
}

.reservation-item {
    box-shadow: 0px 2px 5px 0px rgba(84, 84, 84, 0.1);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}

.reservation-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.reservation-image-wrap {
    width: 14.0625em;
    height: 7.4375em;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.reservation-info {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    flex: 1;
}

.reservation-vehicle {
    font-weight: 600;
    color: #1D2B3A;
    font-size: 0.875rem;
    line-height: 1.2;
}

.reservation-year .reservation-vehicle .reservation-info{
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 0.75rem;
    color: #1D2B3A;
    font-weight: 700;
}

.reservation-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.375rem;
    margin-top: 0.125rem;
}

.reservation-badge{
    color: #1D2B3A;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.no-reservations {
    margin-top: 0.5rem;
}

.no-reservations-text {
    font-size: 0.875rem;
    color: #999;
    font-style: italic;
}

.btnqrcodecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 2.875em;
}

.btnqrcode{
    border-style: none;
}

.navbar {
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6.125em;
}
  
.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 46px 24px 46px 24px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 760px) {   
    .imagebackgroundcar{
        width: 100vw;
        padding-right: 0;
    }
}

@media screen and (min-width: 760px) {   
    .imagebackgroundcar{
        width: 100vw;
        padding-right: 0;
    }

    .filters{
        padding-left: 10em;
    }
}

@media screen and (min-width: 1200px) {   
    .imagebackgroundcar{
        width: 100vw;
    }

    .filters{
        padding-left: 35em;
    }
}
