<div class="login">
  <img class="backgroundimg" src="Grupo 46.png" alt="Logo">
  <img src="Caminho 1996.png" alt="Guardians Logo">
  <h2 class="logintitle">Guardians</h2>
  <div class="error" *ngIf="error">{{error}}</div>
  <form (ngSubmit)="submit()">
    <input class="inputuser" placeholder="E-mail da conta cadastrada" [(ngModel)]="email" name="email" required>
    <input class="inputsenha" placeholder="Nova Senha" [(ngModel)]="newPassword" name="newPassword" type="password" required>
    <button class="btnsubmit" type="submit">Atualizar Senha</button>

    <button class="btnforgot" type="button" (click)="navigateToLogin()"><span class="btnregisterlink">Já tem conta? Login</span></button><br />
    <button class="btnregister" type="button" (click)="navigateToRegister()"><span class="btnregistertext">Ainda não tem Cadastro?</span><span class="btnregisterlink">Criar Conta</span></button>
  </form>
</div>
